/* Navigation */

body {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

header {
    overflow: hidden;
    position: sticky;

}

#bigwhite {
    position: absolute;
    margin-top: 7.5rem;
    width: 100%;
    height: 70%;
    background-color: white;
    z-index: -2;
}

/* HEADER */

/* Default light theme styles */
:root {
    --background-color: #f8f8f8;
    --text-color: #333;
    --header-bg-color: #a6192e;
    --header-text-color: #fff;
    --button-bg-color: #a6192e;
    --button-text-color: #fff;
    --divider-color: #a6192e;
    --link-color: #a6192e;
    --link-hover-color: #c52a35;
    --dropdown-bg-color: #fafafa;
    --footer-bg-color: #a6192e;
    --footer-text-color: #fff;
}


/* Header */

header nav ul {
    margin-left: -2rem;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
}

header nav ul li {

    margin: 0 .3rem;
    position: relative;
}


.nav-divider {
    width: 1px;
    height: 20px;
    background-color: var(--header-text-color);
    margin: 0;
}

header nav ul li a {
    color: var(--header-text-color);
    text-decoration: none;
    font-weight: bold;
}

header form input[type="search"] {
    padding: 0.4rem;
    border: none;
    border-radius: 4px;

}

header form {
    margin-right: .7rem;
}

header form button {
    background-color: var(--background-color);
    color: var(--header-bg-color);
    border: none;
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 4px;
    margin-left: 0.5rem;
}

/* Class Content specifically*/
#main-heading {
    color: #b30738;

    margin-top: 8rem;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    text-align: center;
}

header h1 {
    color: #fff;
}

header {
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: #a6192e;
    color: #fff;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;

    z-index: 1;
}

#math13-header {
    font-weight: 500;
    margin-top: 10rem;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;

}

#last-updated {
    margin-left: 1.2rem;
    margin-bottom: 2rem;
}

#cool-math-teacher {
    margin-left: 1rem;
    vertical-align: bottom;
}

h4 {
    display: inline;
    vertical-align: center;
    margin-bottom: 0.2rem;
}

.nav-background {

    position: absolute;
    top: 0;
    min-height: 20rem;
    left: 0;
    width: 100%;
    z-index: -3;

}

header nav ul {
    list-style-type: none;
    display: flex;
    font-weight: 2000;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    font-weight: 350;
    font-style: normal;

}

header nav ul li a:hover {
    background-color: #f8f8f8;
    color: #a6192e;
    border-radius: 4px;
}

@media (max-width: 10rem) {
    header form {
        top: 5rem;


    }

}


header form {
    display: flex;
    align-items: center;
}

header form input[type="search"] {
    padding: 0.4rem;
    border: none;
    border-radius: 0.25rem;
    height: 2.2rem;
    width: 15rem;
}

header form button {
    background-color: #f8f8f8;
    color: #a6192e;
    border: none;
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 4px;
    margin-left: -1.8rem;

}

header form button a:hover {
    background-color: rgb(251, 22, 22);

}

.nav-background {
    margin-top: -1rem;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -3;
}

.notice-title {
    font-size: 25px;
}

/* Hide default checkbox */
label input[type="checkbox"] {
    display: none;
}

.checkbox-container input~.eye,
.checkbox-container input~.eyeslash {
    position: absolute;
    cursor: pointer;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.2rem;
    padding-right: 9.5rem;
    border: solid black 1px;
}


.checkbox-container {
    padding-right: 2.4rem;
    padding-top: 0.3rem;
    padding-bottom: .85rem;
    vertical-align: sub;
}

.checkbox-container:hover {
    background-color: #e7e7e7;
}

.checkbox-container label {
    margin-left: 2.5rem;
    vertical-align: middle;
    /* position: relative; */
}

/* Unchecked behavior (user cannot see previous weeks) */
.checkbox-container input~.eyeslash {
    opacity: 1;
}

.checkbox-container input~.eye {
    opacity: 0;
}

/* Checked behavior (user can see previous weeks) */
.checkbox-container input:checked~.eyeslash {
    opacity: 0;
}

.checkbox-container input:checked~.eye {

    opacity: 1;
    display: unset;
}


body>section {
    background-color: #F4F2F0;
    padding: 1rem;
    margin-top: 2rem;
    position: relative;
}

section p {
    font-size: 19px;
}

footer {
    background-color: #a6192e;
    color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    position: relative;
    margin-top: auto;
    width: 100%;
    height: 8rem;
}

footer p {
    margin: 1rem;
    max-width: 70%;
    margin-bottom: 0.5rem;
}

.footer-logo {
    width: 80px;
    margin-right: .6rem;
}

/* buttons */
ul button {
    padding: 0.5rem;
    font-weight: bold;
}

#expandall-toggler {
    /* EXPAND ALL */
    border-image: url(/icons/borders/Plus_Border_Expand.png) 20 round;
    display: block;
    border-width: 12px;
    width: 150px;
    margin-bottom: 2rem;
    cursor: pointer;
}

ul button:hover {
    background-color: #e7e7e7;

}

summary {
    background-color: white;
    margin-bottom: 0;
    padding: 1rem;
    border-bottom: 1px solid gray;
    list-style: none;
}

summary:hover {
    background-color: palevioletred;
    cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
    summary:hover {
        transition: .1s;
    }

    summary {
        transition: 0.25s
    }

    #inactive-toggler[open]>summary {
        transition: 0.2s;
    }


    header nav ul li a {
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .vert-line,
    .horiz-line {
        transition: .3s;
    }

    .marker-container {
        transition: .3s;
    }

    #inactive-toggler>summary>.eye {
        animation-duration: 1s;
        /* not working because content cant be animated */
    }

    ul button {
        transition: .1s;
    }

    @keyframes details-show {
        from {
            opacity: 0;
            transform: translateY(-0.5em);
        }
    }

    details[open]>article {
        animation: details-show 150ms ease-in-out;
    }
}

/* End of transitions */

details[open]>summary {
    background-color: #a6192e;
    color: white;
    box-shadow: 0 1rem 1rem -15px black;
    border-bottom: none;
}

details[open]>summary:hover {
    color: rgb(222, 214, 214);
    /*slightly more contrast than default yellow*/
}

article {
    margin-top: 0;
    padding: 1rem;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    box-shadow: inset 0 -0.25rem 2rem -15px black;
    display: block;
}

.entire-accordion {
    background-color: beige;
}

.double-column {
    display: flex;
    flex-wrap: wrap;
}

#line-divider {
    margin-left: 2rem;
    margin-right: 2rem;
    width: .1%;
    height: auto;
    background-color: lightgray;
}

.double-column ul {
    align-content: left;
}

.double-column h3 {
    height: 0;
    display: block;
}

.hw-column h3,
.notes-column h3 {
    /* display: block; */
    padding: 0;
    margin: 0;
    height: auto;
    /* text-align: center; */
    /*professor says this is bad because of cognitive dissonance*/
}

.hw-column {
    flex-wrap: wrap;
    padding-left: 1rem;
    border-left: black 2px solid;
    right: 1.1rem;
    position: relative;
}

.notes-column {
    min-width: 16rem;
    margin-right: 3rem;
}

.hw-column ul li {
    /* min-width: 30rem; */
    max-width: 64rem;
}

details summary h2 {
    display: inline;
    margin-left: 2.2rem;
    user-select: none;

}

/* Inactive toggler */
#inactive-toggler {
    user-select: none;
    border-top: solid 1px black;
    color: #777;
    margin-top: 1rem;

    & summary {
        /* background-color: chartreuse; */
        padding: 0.5rem;

        & .eye,
        .eyeslash {
            vertical-align: bottom;
            margin-left: 0.3rem;
        }

        & .eyeslash {
            display: none;
        }

        & h2 {
            margin-left: 0;
        }
    }
}

#inactive-toggler:hover>summary {
    /* border-color: #f13f43; */

    box-shadow: 0 0.5rem 1rem 0.05rem black;
    background-color: #f13f43;
}

#inactive-toggler[open] {
    & summary {
        background-color: #780000;
        opacity: 0.8;

        & .eye {
            content: url(../icons/icons/eyeslash.svg);
        }
    }
}

/* PLUS AND MINUS SYMBOLS!!! */
.vert-line,
.horiz-line {
    display: block;
    position: absolute;
    fill: black;
    margin-top: 0.7rem;
}

.vert-line {
    rotate: 90deg;
}

details[open]>summary>.marker-container>.vert-line {
    rotate: 180deg;
    /* background: white; */
    fill: white;
}

details[open]>summary>.marker-container>.horiz-line {
    rotate: 180deg;
    /* background: white; */
    fill: white;
}

details>summary:hover>.marker-container {
    transform: translateY(0.25rem);
}

details[open]>summary>.marker-container {
    transform: translateX(0);
}

/* compensation */
details[open]>summary:hover>.marker-container {
    transform: translateY(-0.05rem);
    /* not sure if i should keep this */
}

@media (prefers-reduced-motion: reduce) {
    body {
        animation: none;
        transition: none;
    }
}