body{
    
    font-family: 'Inter', sans-serif;
}
/* Default light theme styles */
:root {
    --background-color: #f8f8f8;
    --text-color: #333;
    --header-bg-color: #a6192e;
    --header-text-color: #fff;
    --button-bg-color: #a6192e;
    --button-text-color: #fff;
    --divider-color: #a6192e;
    --link-color: #a6192e;
    --link-hover-color: #c52a35;
    --dropdown-bg-color: #fafafa;
    --footer-bg-color: #a6192e;
    --footer-text-color: #fff;
}
#bigwhite {
    position: absolute;
    margin-top: 10rem;
    width: 100%;
    height: 70%;
    background-color: white;
    z-index: -2;
}

/* Header */

header nav ul {
    margin-left:-2rem;
    list-style-type: none;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

header nav ul li {
    
    margin: 0 .3rem;
    position: relative; 
}


.nav-divider {
    width: 1px; 
    height: 20px; 
    background-color: var(--header-text-color); 
    margin: 0; 
}

header nav ul li a {
    color: var(--header-text-color);
    text-decoration: none;
    font-weight: bold;
}

header form input[type="search"] {
    padding: 0.4rem;
    border: none;
    border-radius: 4px;
}

header form button {
    background-color: var(--background-color);
    color: var(--header-bg-color);
    border: none;
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 4px;
    margin-left: 0.5rem;
}
/*fall quarter specifically*/
#main-heading {
    color: #b30738;

    margin-top:8rem;
    font-size: 30px;
    text-align: center;
}

/*any header 2*/
h2
{
    
    color: #b30738;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    text-align: center;

}



#textbook-options
{
    margin-top:4rem;
}



header h1{
    color: #fff;
}
header {
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; 
    background-color: #a6192e;
    color: #fff;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    
    z-index: 1;
}

#math13-header
{
    font-weight:500;
    margin-top:10rem;
    color:white;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.nav-background {

    position: absolute;
    top: 0;
    min-height: 20rem;
    left: 0;
    width: 100%;
    z-index: -3;

}

header nav ul {
    list-style-type: none;
    display: flex;
    font-weight: 2000;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight:350;
    font-style: normal;    
    
}




header nav ul li a:hover {
    background-color: #f8f8f8;
    color: #a6192e;
    border-radius: 4px;
}

@media (max-width: 10rem) 
{
    header form
    {
        top:5rem;
    

    }
    
}


header form {
    display: flex;
    align-items: center;
}

header form input[type="search"] {
    padding: 0.4rem;
    border: none;
    border-radius: 0.25rem;
    height:2.2rem;
    width:15rem;
}

header form button {
    background-color: #f8f8f8;
    color: #a6192e;
    border: none;
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 4px;
    margin-left: -1.8rem;
    
}
header form button a:hover{
    background-color: rgb(251, 22, 22);
    
}
.nav-background
{
    margin-top:-1rem;
    position:absolute;
    width:100%;
    height:auto;
    z-index: -3;
}





/*info text left*/
#Access {
    text-align: left;
    margin-top:-2.5rem;

    font-size:20px;
    max-width: 100%;
    margin-left: 2rem;
}

/*info text right */
#Copy
{
    margin-left:3rem;
    text-align: right;
    font-size:20px;
    margin-top:-4rem;


    
    width: 94%;
}

#Access, #Copy 
{
    font-family: 'Inter', sans-serif;
    
    width: 95%;
}

/*rectangles and dividers*/
#rectangle
{
    position: absolute;
    top: 16rem; 
    margin-top:8rem;
    width: 100%; 
    height: 12rem; 
    background-color: #F4F2F0; 
    z-index: -1;
}
#rectangle2 
{
    position: absolute;
    margin-top: -16rem;
    width: 100%; 
    height: 40rem; 
    background-color: white; 
    z-index: -2;
}
#rectangle3 
{
    position: absolute;
    margin-top:-10rem;
    width: 100%; 
    height: 12rem; 
    background-color: #F4F2F0; 
    z-index: -1;
}


#line-divider-1 {
    
    margin-left:4rem;
    width: .08%; 
    height: 40rem; 
    background-color: lightgray;
    
}

#line-divider-2
{


    width: .08%; 
    height: 40rem; 
    background-color: lightgray;
    align-items: right;
}


/*buttons*/
.textbook-info {
    height:2.4rem;
    width: auto;
    display: block;
    margin: auto; 
    margin-top: 1rem;
    align-items: center;
    width: auto;
    padding: 0rem 1.2rem;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    background-color: #b30738;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    
}

.textbook-info:hover
{
    background-color: #a3062f;
    
}

@media (max-width: 80rem) 
{
    #Copy {
        margin-top: 2rem; 
    }

    .textbook-info {
        margin-top: 1rem; 
    }
    #Access
    {
        margin-top: 2rem; 
    }
    #rectangle 
    {
        height: 18rem; 
        top: 21rem;
    }
    #rectangle2
    {
        max-height: 10rem;
        height: 7rem; 
        top: 35rem;
    }
    
}


.course-content
{
    
    height:2.4rem;
    width: auto;
    display: block;
    margin: auto; 
    margin-top: 2.4rem;
    align-items: center;
    width: auto;
    padding: 0rem 1.2rem;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    background-color: #b30738;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}
.course-content:hover
{
    background-color: #a3062f;
    
}
#Class-Content-Section
{
    margin-top:10rem;
}
/*pdf images*/

#handouts
{
    margin-top: 5rem;
}


#handout-links-and-images
{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
body
{

    margin:0;
    padding:0;
}

body section div article
{
    max-width: fit-content;
}
body section div
{
    display:flex;
    text-align: center;
    justify-content: center;
    
}

body section a
{
    text-decoration: none;
}

body section div article img
{
    margin-top: 3rem;
    min-width: 12rem;
    align-content: center;
    width: 30rem;
    height: auto;
    max-width: 33%;
}
.tenam-reg
{
    height:13.8rem;
}
#CC
{
    margin-top: 10rem;
}
#second-list
{
    
    margin-top:10rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}


summary
{
    background-color: white;
    margin-bottom: 0;
    padding: 1rem;

    width: 20rem;
    list-style-image: url(../icons/icons/expand-arrow.svg);
}

summary, #second-list ul li
{
    margin-left:0rem;
}
body section ul li
{
    
    list-style-type: none;
}

summary:hover 
{
    width:100%;
    background-color: palevioletred;
    list-style-image: url(../icons/icons/expand-arrow-45deg.svg);
}

details[open]>summary
{
    background-color: #a6192e;
    color: white;
    width:100%;
    box-shadow: 0 1rem 1rem -15px black;
    border-bottom: none;
    list-style-image: url(../icons/icons/expand-arrow-down.svg) !important;
    
}

details[open]>summary:hover
{
    color: rgb(222, 214, 214);
}



details[open]
{
    background-color: rgb(247, 242, 242);
}




.assessment-link
{
    color:blue;
    margin-top: 1.3rem;
    margin-left:-1.9rem;
    margin-bottom:1rem;
}
#second-list ul li
{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 200;
    padding: 1rem;
    border-bottom: 2px solid lightgray;
    
    box-shadow: inset 0 -0.25rem 2rem -15px white;
    
    margin-top:-.1rem;
}

#second-list p
{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
}

#relevant-web-links-article
{
    
    
    
    font-weight: 200;

    position: relative;
    max-width: 40%;  
    min-width:15rem;
    

}

#relevant-web-links-article, #miscellaneous-article {
    flex: 1; 
   
    
}




#miscellaneous-article {
    position: relative;
    
    font-family: 'Inter', sans-serif;
    align-items: right;
    font-weight: 200;
    
    max-width: 30rem;

    
    min-width: 20%;
}

.miscellanoeus-title
{
    margin-left:2rem;
}




.relevant-links-paragraph
{
    max-width: auto;
    text-align: center;
    min-width:9rem;
    margin-top:2rem;
    margin-left:3rem;
    margin-right:3rem;
}
#miscellaneous-article
{
    position: relative;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-right: 2rem;
    font-weight: 200;
    
    max-width: 30rem;
}

body section ul li summary
{
    margin-left: -1rem;
}

footer {
    background-color: #a6192e;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    position: relative;
    margin-top: auto;
    width: 100%;
    height:8rem;
}

footer p {
    margin:1rem;
    max-width: 70%;
    margin-bottom: 0.5rem;
}
.footer-logo {
    width: 80px;
    margin-right:.6rem;
}