/* Navigation */

body {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 200;
}

header {
    background-color: #a6192e;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin-right: 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header form {
    display: flex;
    align-items: center;
}

header form input[type="search"] {
    padding: 0.4rem;
    border: none;
    border-radius: 4px;
}

header form button {
    background-color: #f8f8f8;
    color: #a6192e;
    border: none;
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 4px;
    margin-left: 0.5rem;
}

/* Hide default checkbox */
label input[type="checkbox"] {
    display: none;
}

.checkbox-container input~.eye,
.checkbox-container input~.eyeslash {
    position: absolute;
    cursor: pointer;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.2rem;
    padding-right: 9.5rem;
    border: solid black 1px;
}

.checkbox-container {
    padding-right: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.4rem;
    vertical-align: sub;
}

.checkbox-container:hover {
    background-color: #e7e7e7;
}

.checkbox-container label {
    margin-left: 2.5rem;
    vertical-align: middle;
    /* position: relative; */
}

/* Unchecked behavior (user cannot see previous weeks) */
.checkbox-container input~.eyeslash {
    opacity: 1;
}

.checkbox-container input~.eye {
    opacity: 0;
}

/* Checked behavior (user can see previous weeks) */
.checkbox-container input:checked~.eyeslash {
    opacity: 0;
}

.checkbox-container input:checked~.eye {

    opacity: 1;
    display: unset;
}

/* .checkbox-container input~.eyeslash {
    display: none;
} */


body>section {
    background-color: lightgray;
    padding: 1rem;
}

footer {
    background-color: #a6192e;
}

footer p {
    color: white;
}

/* buttons */
ul button {
    padding: 0.5rem;
    font-weight: bold;
}

#expandall-toggler {
    /* EXPAND ALL */
    border-image: url(../assets/borders/Plus_Border_Expand.png) 20 round;
    display: block;
    border-width: 12px;
    width: 150px;
}

ul button:hover {
    background-color: #e7e7e7;

}

summary {
    background-color: white;
    margin-bottom: 0;
    padding: 1rem;
    border-bottom: 1px solid gray;
    list-style: none;
}

summary:hover {
    background-color: palevioletred;
}

@media (prefers-reduced-motion: no-preference) {
    summary:hover {
        background-color: palevioletred;
        transition: .1s;
    }

    summary:not(hover) {
        transition: .1s;
        /* This will give seizures when using the "collapse all" button. FIXED WITH A JS CONDITION. */
    }

    .vert-line,
    .horiz-line {
        transition: .3s;
    }

    .checkbox-container input~.eye,
    .checkbox-container input~.eyeslash {
        transition: 0.2s;
    }

    ul button {
        transition: .1s;
    }
}



details[open]>summary {
    background-color: #a6192e;
    color: white;
    box-shadow: 0 1rem 1rem -15px black;
    border-bottom: none;
}

details[open]>summary:hover {
    color: #FFFF3D;
    /*slightly more contrast than default yellow*/
}

article {
    margin-top: 0;
    padding: 1rem;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    box-shadow: inset 0 -0.25rem 2rem -15px black;
}

.entire-accordion {
    background-color: beige;
}

.double-column {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

#line-divider {
    margin-left: 2rem;
    margin-right: 2rem;
    width: .1%;
    height: auto;
    background-color: lightgray;
}

.double-column ul {
    align-content: left;
}

.double-column h3 {
    height: 0;
    display: block;
}

.hw-column h3,
.notes-column h3 {
    /* display: block; */
    padding: 0;
    margin: 0;
    height: auto;
    /* text-align: center; */
    /*professor says this is bad because of cognitive dissonance*/
}

.hw-column {
    flex-wrap: wrap;
    padding-left: 1rem;
    border-left: black 2px solid;
    right: 1.1rem;
    position: relative;
}

.notes-column {
    min-width: 16rem;
    margin-right: 3rem;
}

.hw-column ul li {
    /* min-width: 30rem; */
    max-width: 64rem;
}

details summary h2 {
    display: inline;
    margin-left: 2.2rem;
    user-select: none;
}



/* SUPER SEXY PLUS AND MINUS SYMBOLS!!! */
.vert-line,
.horiz-line {
    display: block;
    position: absolute;
    width: 1.6rem;
    height: 0.25rem;
    background: #000;
    /* content: ""; */
    margin-top: 0.9rem;
}

.vert-line {
    rotate: 90deg;
    /* background: chartreuse; */
}

details[open]>summary>.vert-line {
    rotate: 180deg;
    background: white;
}

details[open]>summary>.horiz-line {
    rotate: 180deg;
    background: white;
}

details>summary:hover>.vert-line {
    transform: translateX(0.25rem);
}

details[open]>summary:hover>.vert-line {
    transform: translateX(0);
}

details>summary:hover>.horiz-line {
    transform: translateY(0.25rem);
}

details[open]>summary:hover>.horiz-line {
    transform: translateY(0);
}

@media (prefers-reduced-motion: reduce) {
    body {
        animation: none;
        transition: none;
    }
}